body {
    height: 800px;
}

.container {
    margin-top: 25px;
    background-image: url(../images/Play_Area.png);
    /* background-size: contain; */
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    position: relative;
}

.charachter {
    height: 150px;
}

.player_card {
    height: 200px;
    width: 200px;
    border: solid black;
    margin: auto;
    background-color: white;
    padding: 10px;
    padding-top: 25px;
}

.player_card_staging {
    height: 150px;
    width: 150px;
    border: solid black;
    margin: auto;
    background-color: white;
    padding: 10px;
    padding-top: 25px;
}

img {
    padding: 10px;
}

.name, .HP {
    margin-top: 10px;
    margin-bottom: 10px;
}

#characters {
    font-size: 15px;
    color: black;
}

#challenger {
    position: absolute;
    bottom: 100px;
    left: 50px;
    width: 200px;
}

#defender {
    position: absolute;
    bottom: 100px;
    left: 900px;
    width: 200px;
}

#staging {
    border: solid 2px deeppink;
    width: 600px;
    height: 185px;
    position: absolute;
    bottom: 150px;
    left: 270px;
    /* right: 50px; */
}

img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}